{% extends 'bootstrap/base.html' %}
<html>
   
    {% block title %}Tankui Racing Leaderboard{% endblock %}
    
    {% block content %}
    <body>
        <center>
            <h1>Tankui Racing Leaderboard</h1>
            
            <img src="{{url_for('static', filename='racer.png')}}" />

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            <hr>

            <h3><b>Top Racers</b></h3>

            <row>
                <col>
                Name
                </col>
                <col>
                Time
                </col>
            </row>
            {% for note in notes %}
            <row>
                <col>
                {{note.Name}}
                </col>
                <col>
                {{note.time}}
                </col>
            </row>
            {% endfor %}

        </center>
    </body>
    {% endblock %}
</html>
